@import 'mixins';

footer {
	.contact {
		color: white;
		//@include border(red);
		background-color: var(--soft_blue);
		article {
			width: 80%;
			margin: auto;
			display: flex;
			flex-direction: column;
			padding: 4em 0;
			h4 {
				letter-spacing: 0.4em;
				font-size: 0.77777em;
				font-weight: 600;
				text-transform: uppercase;
			}
			label {
				font-size: 1.5em;
				font-weight: 500;
			}
			input {
				margin: 0.5em 0;
				padding: 1em;
				border-radius: 0.5em;
				font-weight: 600;
				font-size: 1.1111111111111111111111111111111111em;
			}
			.email {
				color: var(--grayish_blue);
				border: solid white;
			}
			.contact_us {
				background-color: var(--soft_red);
				color: white;
				border: solid var(--soft_red);
			}
		}
	}
	.final {
		background-color: var(--very_dark_blue);
		color: white;
		display: grid;
		grid-template-areas: 
		'bookmark'
		'items'
		'social' ;
		.logo_container {
			grid-area: bookmark;
			//@include border(white);
			img {
				width: 10em;
			}
		}
		ul {
			grid-area: items;
			padding: 0;
			font-size: 1.3em;
			li {
				margin-bottom: 1em;
				text-transform: uppercase;
				color: var(--grayish_blue);
				transition: color 0.5s;
				cursor: pointer;
			}
			li:hover {
				color: var(--soft_red);
			}
		}
		.social_container {
			grid-area: social;
			img {
				margin: 1em;
				cursor: pointer;
			}
			img:hover {
				fill: var(--soft_red);
			}
		}
	}
}

@media screen and (min-width: 900px) {
	footer {
		.contact {
			article {
				display: grid;
				grid-template-areas: 
				'already already already'
				'stay stay stay'
				'email email contact' ;
				grid-gap: 1.7em 1em;
				width: 40%;
			}
			h4 {
				grid-area: already;
			}
			label {
				grid-area: stay;
			}
			input {
				font-size: 0.9em !important;
			}
			.email {
				grid-area: email;
			}
			.contact_us {
				grid-area: contact;
				cursor: pointer !important;
			}
		}
		.final {
			grid-template-areas: 
			'bookmark items social' ;
			align-items: center;
			.logo_container {
				img {
					width: 8em;
				}
			}
			ul {
				display: flex;
				list-style-type: none;
				font-size: 0.8em;
				li {
					margin-right: 1em;
					margin-bottom: 0 !important;
				}
			}
			.social_container {
				//esto es todo amigos
			}
		}
	}
}