@import 'burger';
@import 'mixins';

header {
    color: red;
    padding: 0;
    background-image: url('../images/illustration-hero.svg');
    background-size: 100%;
    background-position: center 200px;
    background-repeat: no-repeat;

    nav {
        display: flex;
        justify-content: space-between;
        position: relative;
        //@include border(green);

        .logo_container {
            //@include border(red);
            margin: 0;
            width: 15em;
            margin: 1em;

            img {
                width: 100%;
            }
        }

        #burger {
            //@include border(green);
            margin: 1em;
        }

        .nav_list_container {
            //@include border(violet);
            position: absolute;
            padding: 0;
            right: -0.25%;
            width: 100%;
            top: 75px;
            background-color: rgba(black, 0.75);
            height: 100vh;

            .nav_list {
                list-style-type: none;
                padding: 0;
                font-size: 1.666666667em;
                color: white;
                text-transform: uppercase;
                li {
                    line-height: 200%;
                    border-top: solid 1px;
                    width: 80%;
                    margin: 0px auto 20px auto;
                    padding-top: 20px;
                }
                li:last-child {
                    border: solid;
                    border-radius: 0.5rem;
                    width: 80%;
                    margin: auto;
                    padding: 0;
                }
            }
            .header_social_media {
                //@include border(white);
                display: flex;
                width: 100%;
                margin: auto;
                justify-content: center;
                position: relative;
                top: 20%;
                img {
                    width: 7%;
                    padding: 1em;
                }
            }
        }

        .nav_list_container_hide {
            display: none;
        }
    }

    .header_title {
        //@include border(blue);
        margin: 14em 0 0 0;
        font-size: 39px;
        //@include border(blue);
        color: black;
        padding: 0 0.3em;
    }
    p {
        padding: 0 0.5em;
        //@include border(black);
        width: 90%;
        margin: 1.5em auto;
        color: var(--grayish_blue);
        font-size: 23px;
    }
    button {
        //@include border(brown);
        width: 40%;
        margin: 0.5em;
        font-size: 1.277777778em;
        padding: 0.9em 0;
        border-radius: 0.5rem;
        border: none;
        font-weight: bold;
    }
    .button_left {
        background-color: var(--soft_blue);
        color: white;
    }
    .button_right {
        @include box-shadow(0px, 3px, 5px, gray);
        color: var(--very_dark_blue);
    }
}

@media screen and (min-width: 700px) {
    header {
        background-position: center 90px;
    }
}
@media screen and (min-width: 900px) {
    header {
        background-position: right 90px;
        background-size: 50%;
        @include border(red);
        padding-bottom: 2em;
        .header_title {
            margin: 2em 0 0 0;
        }
        nav {
            .logo_container {
                margin: 2em 0 0 4em;
                width: 10em;
                @include border(blue);
            }
            .nav_list_container {
                position: relative !important;
            }
            .nav_list_container_hide {
                display: flex;
                @include border(black);
                background-color: transparent;
                position: relative !important;
                left: 10%;
                padding: 0;
                margin: 0 auto;
                width: 40%;
                .nav_list {
                    display: flex;
                    list-style-type: none;
                    padding: 0;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    li {
                        padding-top: 0 !important;
                        margin: 0 !important;
                    }
                }
            }
        }
        h1 {
            width: 40%;
            text-align: left;
            font-size: 50px !important;
            padding-left: 1.5em !important;
            margin-bottom: 2rem !important;
        }
        p {
            width: 40%;
            margin: 0;
            text-align: left;
            padding-left: 4em;
            margin-bottom: 2rem;
            font-size: 1.111111111em;
        }
        button {
            width: 16%;
            position: relative;
            left: -28%;
        }
    }
}