@import 'mixins';
main {
	margin-top: 5em;
	.main_section1 {
		//@include border(gray);
		width: 90%;
		margin: auto;
		h2 {
			font-weight: 500;
		}
		p {
			font-size: 0.8605556em;
			color: var(--grayish_blue);
		}
		@media screen and (min-width: 900px) {
			width: 37%;
		}
	}
	.main_section2 {
		ul {
			padding: 0em;
			width: 80%;
			margin: 2em auto;
			list-style-type: none;
			li {
				padding: 1em 0em;
				height: 30px;
				display: list-item;
				border-style: solid;
				border-width: 1px 0 0 0;
				border-color: var(--grayish_blue);
				position: relative;
				cursor: default;
				span {
					color: var(--grayish_blue);
				}
				.active {
					height: 120px;
					border-bottom: solid var(--soft_red) 5px;
					position: relative;
					z-index: 1;
					padding-bottom: 1.15em;
					color: black;
				}
			}
			li:last-child {
				border-width: 1px 0 1px 0;
			}
		}
		.card_container {
			display: flex;
			flex-direction: column;
			.illustration_container {
				width: 80%;
				height: fit-content;
				//@include border(red);
				img {
					width: 100%;
				}
			}
			.card_description {
				width: 80%;
				margin: auto;
				h2 {
					font-size: 1.3888888889em;
				}
				p {
					font-size: 0.8605556em;
					color: var(--grayish_blue);
				}
				button {
					background-color: var(--soft_blue);
					color: white;
					border: solid var(--soft_blue);
					padding: 0.76em 0.9em;
					border-radius: 0.3rem;
					font-size: 16px;
					transition: color, background-color 0.5s;
				}
				button:hover {
					background-color: white;
					color: var(--soft_blue);
					cursor: pointer;
				}
			}
		}
	}
	.main_section3 {
		margin-top: 10em;
		width: 80%;
		margin: auto;
		.download_the_extension {
			margin-bottom: 5em;
			h2 {
				font-size: 1.3888888889em;
			}
			p {
				font-size: 0.8605556em;
				color: var(--grayish_blue);
			}
		}
		.extension_container {
			//@include border(black);
			margin-bottom: 2em;
			border-radius: 0.7em;
			padding: 1.7em;
			@include box-shadow( 0px, 5px, 10px, gray);
			figure {
				//@include border(blue);
				margin: auto;
				figcaption {
					p {
						font-size: 0.8605556em;
						color: var(--grayish_blue);
					}
				}
			}
			.btn {
				padding: 0.7em 1.7em;
				border: solid var(--soft_blue);
				background-color: var(--soft_blue);
				color: white;
				font-weight: 700;
				border-radius: 0.3em;
				transition: color, background-color 0.5s;
			}
			.btn:hover {
				background-color: white;
				color: var(--soft_blue);
			}
		}
	}
	.main_section4 {
		@include border(transparent);
		width: 80%;
		margin: 4em auto;
		.frequently_asked_questions {
			h2 {
				font-size: 1.3888888889em;
			}
			p {
				font-size: 0.8605556em;
				color: var(--grayish_blue);
			}
		}
		.question_container {
			text-align: left;
			summary {
				//@include border(orange);
				border-bottom: solid 1px var(--grayish_blue);
				padding: 1em 0;
			}
			p {
				color: var(--grayish_blue);
				font-size: 0.8605556em;
			}
		}
		button {
				margin: 2em;
				padding: 0.7em 1.7em;
				border: solid var(--soft_blue);
				background-color: var(--soft_blue);
				color: white;
				font-weight: 700;
				border-radius: 0.3em;
				transition: color, background-color 0.5s;
				font-size: 1em;
		}
	}
}

@media screen and (min-width:900px) {
	.main_section1 {
		p {
			font-size: 0.9em !important;
		}
	}
	.main_section2 {
		ul {
			display: flex;
			justify-content:space-between;
			//@include border(red);
			border-bottom: solid 1px var(--grayish_blue);
			width: 50% !important;
			li {
				padding: 1em;
				border: none !important;
			}
		}
	}
	.main_section2 {
		.card_container {
			flex-direction: row !important;
			margin-bottom: 7em !important;
			//@include border(var(--soft_blue));
			width: 80%;
			margin: auto;

			.card_description {
				text-align: left;
			}
		}
	}
	.main_section3 {
		.download_the_extension {
			width: 45%;
			margin: auto;
		}
		.extensions_container {
			//@include border(red);
			width: 85%;
			margin: auto;
			display: flex;
			height: 400px;
			justify-content: space-around;
			.extension_container1 {
				align-self: flex-start;
			}
			.extension_container2 {
				align-self: center;
			}
			.extension_container3 {
				align-self: flex-end;
			}
		}
	}
}