@import 'mixins';
main {
	margin-top: 5em;
	.main_section1 {
		@include border(gray);
		width: 90%;
		margin: auto;
		h2 {
			font-weight: 500;
		}
		p {
			font-size: 16px;
			color: var(--grayish_blue);
		}
		@media screen and (min-width: 900px) {
			width: 37%;
		}
	}
	.main_section2 {
		ul {
			padding: 0em;
			width: 80%;
			margin: 2em auto;
			list-style-type: none;
			li {
				padding: 1em 0em;
				height: 30px;
				display: list-item;
				border-style: solid;
				border-width: 1px 0 0 0;
				position: relative;
				.active {
					height: 120px;
					border-bottom: solid var(--soft_red) 5px;
					position: relative;
					z-index: 1;
					padding-bottom: 1.15em;
				}
			}
			li:last-child {
				border-width: 1px 0 1px 0;
			}
		}
		.card_container {
			.illustration_container {
				width: fit-content;
				height: fit-content;
				@include border(red);
				img {
					width: 80%;
				}
			}
		}
	}
}