.show {
  display: block;
}

#logo {
  top: 0;
}

.burger {
  display: block;
  cursor: pointer;
  width: fit-content;
  position: relative;
  top: 0;
}

.change {
  display: block;
  cursor: pointer;
  width: fit-content;
  position: relative;
  top: 0;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
  position: relative;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width: 900px) {
  .burger {
    display: none;
  }
}
header {
  color: red;
  padding: 0;
  background-image: url("../images/illustration-hero.svg");
  background-size: 100%;
  background-position: center 200px;
  background-repeat: no-repeat;
}
header nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header nav .logo_container {
  margin: 0;
  width: 15em;
  margin: 1em;
}
header nav .logo_container img {
  width: 100%;
}
header nav #burger {
  margin: 1em;
}
header nav .nav_list_container {
  position: absolute;
  padding: 0;
  right: -0.25%;
  width: 100%;
  top: 75px;
  background-color: rgba(0, 0, 0, 0.75);
  height: 130vh;
}
header nav .nav_list_container .nav_list {
  list-style-type: none;
  padding: 0;
  font-size: 1.666666667em;
  color: white;
  text-transform: uppercase;
}
header nav .nav_list_container .nav_list li {
  line-height: 200%;
  border-top: solid 1px;
  width: 80%;
  margin: 0px auto 20px auto;
  padding-top: 20px;
}
header nav .nav_list_container .nav_list li:last-child {
  border: solid;
  border-radius: 0.5rem;
  width: 80%;
  margin: auto;
  padding: 0;
}
header nav .nav_list_container .nav_list li:last-child a {
  text-decoration: none;
  color: white;
}
header nav .nav_list_container .header_social_media {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  position: relative;
  top: 20%;
}
header nav .nav_list_container .header_social_media img {
  width: 7%;
  padding: 1em;
}
header nav .nav_list_container_hide {
  display: none;
}
header .header_title {
  margin: 14em 0 0 0;
  font-size: 39px;
  color: black;
  padding: 0 0.3em;
}
header p {
  padding: 0 0.5em;
  width: 90%;
  margin: 1.5em auto;
  color: var(--grayish_blue);
  font-size: 20px;
}
header button {
  width: 40%;
  margin: 0.5em;
  font-size: 1.277777778em;
  padding: 0.9em 0;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  transition: background-color 0.5s;
  cursor: pointer;
}
header button:hover {
  background-color: white;
}
header .button_left {
  background-color: var(--soft_blue);
  color: white;
  border: solid var(--soft_blue);
}
header .button_left:hover {
  color: var(--soft_blue);
}
header .button_right {
  -webkit-box-shadow: 0px 3px 5px gray;
  -moz-box-shadow: 0px 3px 5px gray;
  box-shadow: 0px 3px 5px gray;
  color: var(--very_dark_blue);
  transition: border 0.5s;
}
header .button_right:hover {
  border: solid var(--very_dark_blue);
}

@media screen and (min-width: 700px) {
  header {
    background-position: center 90px;
  }
}
@media screen and (min-width: 900px) {
  header {
    background-position: right 150px;
    background-size: 50%;
    padding-bottom: 2em;
  }
  header .header_title {
    margin: 2em 0 0 0;
  }
  header nav .logo_container {
    margin: 2em 0 0 4em;
    width: 10em;
  }
  header nav .nav_list_container {
    position: relative !important;
  }
  header nav .nav_list_container_hide {
    display: flex;
    background-color: transparent;
    position: relative !important;
    left: 15%;
    padding: 0;
    margin: 0 auto 3em auto;
    width: 40%;
  }
  header nav .nav_list_container_hide .nav_list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  header nav .nav_list_container_hide .nav_list li {
    padding-top: 0 !important;
    margin: 0 !important;
    color: var(--grayish_blue);
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 1em;
    cursor: pointer;
    transition: color 0.5s;
  }
  header nav .nav_list_container_hide .nav_list li:hover {
    color: var(--soft_red);
  }
  header nav .nav_list_container_hide .nav_list li:last-child a {
    background-color: var(--soft_red);
    padding: 0.4em 1.7em;
    text-decoration: none;
    color: white;
    border: solid var(--soft_red);
    border-radius: 0.3em;
    transition: color, background-color 0.5s;
  }
  header nav .nav_list_container_hide .nav_list li:last-child a:hover {
    color: var(--soft_red);
    background-color: transparent;
  }
  header h1 {
    width: 40%;
    text-align: left;
    font-size: 50px !important;
    padding-left: 1.5em !important;
    margin-bottom: 2rem !important;
  }
  header p {
    width: 40%;
    margin: 0;
    text-align: left;
    padding-left: 4em;
    margin-bottom: 2rem;
    font-size: 1.111111111em;
  }
  header button {
    width: 16%;
    position: relative;
    left: -28%;
  }
}

/*# sourceMappingURL=header.css.map */
