main {
  margin-top: 5em;
}
main .main_section1 {
  width: 90%;
  margin: auto;
}
main .main_section1 h2 {
  font-weight: 500;
}
main .main_section1 p {
  font-size: 0.8605556em;
  color: var(--grayish_blue);
}
@media screen and (min-width: 900px) {
  main .main_section1 {
    width: 37%;
  }
}
main .main_section2 ul {
  padding: 0em;
  width: 80%;
  margin: 2em auto;
  list-style-type: none;
}
main .main_section2 ul li {
  padding: 1em 0em;
  height: 30px;
  display: list-item;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: var(--grayish_blue);
  position: relative;
  cursor: default;
}
main .main_section2 ul li span {
  color: var(--grayish_blue);
}
main .main_section2 ul li .active {
  height: 120px;
  border-bottom: solid var(--soft_red) 5px;
  position: relative;
  z-index: 1;
  padding-bottom: 1.15em;
  color: black;
}
main .main_section2 ul li:last-child {
  border-width: 1px 0 1px 0;
}
main .main_section2 .card_container {
  display: flex;
  flex-direction: column;
}
main .main_section2 .card_container .illustration_container {
  width: 80%;
  height: fit-content;
}
main .main_section2 .card_container .illustration_container img {
  width: 100%;
}
main .main_section2 .card_container .card_description {
  width: 80%;
  margin: auto;
}
main .main_section2 .card_container .card_description h2 {
  font-size: 1.3888888889em;
}
main .main_section2 .card_container .card_description p {
  font-size: 0.8605556em;
  color: var(--grayish_blue);
}
main .main_section2 .card_container .card_description button {
  background-color: var(--soft_blue);
  color: white;
  border: solid var(--soft_blue);
  padding: 0.76em 0.9em;
  border-radius: 0.3rem;
  font-size: 16px;
  transition: color, background-color 0.5s;
}
main .main_section2 .card_container .card_description button:hover {
  background-color: white;
  color: var(--soft_blue);
  cursor: pointer;
}
main .main_section3 {
  margin-top: 10em;
  width: 80%;
  margin: auto;
}
main .main_section3 .download_the_extension {
  margin-bottom: 5em;
}
main .main_section3 .download_the_extension h2 {
  font-size: 1.3888888889em;
}
main .main_section3 .download_the_extension p {
  font-size: 0.8605556em;
  color: var(--grayish_blue);
}
main .main_section3 .extension_container {
  margin-bottom: 2em;
  border-radius: 0.7em;
  padding: 1.7em;
  -webkit-box-shadow: 0px 5px 10px gray;
  -moz-box-shadow: 0px 5px 10px gray;
  box-shadow: 0px 5px 10px gray;
}
main .main_section3 .extension_container figure {
  margin: auto;
}
main .main_section3 .extension_container figure figcaption p {
  font-size: 0.8605556em;
  color: var(--grayish_blue);
}
main .main_section3 .extension_container .btn {
  padding: 0.7em 1.7em;
  border: solid var(--soft_blue);
  background-color: var(--soft_blue);
  color: white;
  font-weight: 700;
  border-radius: 0.3em;
  transition: color, background-color 0.5s;
}
main .main_section3 .extension_container .btn:hover {
  background-color: white;
  color: var(--soft_blue);
}
main .main_section4 {
  border: solid transparent;
  width: 80%;
  margin: 4em auto;
}
main .main_section4 .frequently_asked_questions h2 {
  font-size: 1.3888888889em;
}
main .main_section4 .frequently_asked_questions p {
  font-size: 0.8605556em;
  color: var(--grayish_blue);
}
main .main_section4 .question_container {
  text-align: left;
}
main .main_section4 .question_container summary {
  border-bottom: solid 1px var(--grayish_blue);
  padding: 1em 0;
  transition: color 0.5s;
  cursor: pointer;
}
main .main_section4 .question_container summary:hover {
  color: var(--soft_red);
}
main .main_section4 .question_container p {
  color: var(--grayish_blue);
  font-size: 0.8605556em;
}
main .main_section4 button {
  margin: 2em;
  padding: 0.7em 1.7em;
  border: solid var(--soft_blue);
  background-color: var(--soft_blue);
  color: white;
  font-weight: 700;
  border-radius: 0.3em;
  transition: color, background-color 0.5s;
  font-size: 1em;
}
main .main_section4 button:hover {
  background-color: white;
  color: var(--soft_blue);
}

button {
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .main_section1 p {
    font-size: 0.9em !important;
  }

  .main_section2 ul {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--grayish_blue);
    width: 50% !important;
  }
  .main_section2 ul li {
    padding: 1em;
    border: none !important;
  }

  .main_section2 .card_container {
    flex-direction: row !important;
    margin-bottom: 7em !important;
    width: 80%;
    margin: auto;
  }
  .main_section2 .card_container .card_description {
    text-align: left;
  }

  .main_section3 .download_the_extension {
    width: 45%;
    margin: auto;
  }
  .main_section3 .extensions_container {
    width: 85%;
    margin: auto;
    display: flex;
    height: 400px;
    justify-content: space-around;
  }
  .main_section3 .extensions_container .extension_container1 {
    align-self: flex-start;
  }
  .main_section3 .extensions_container .extension_container2 {
    align-self: center;
  }
  .main_section3 .extensions_container .extension_container3 {
    align-self: flex-end;
  }

  .main_section4 {
    border: solid red;
    width: 40% !important;
  }
}

/*# sourceMappingURL=main.css.map */
