:root {
  /*Primary*/
--soft_blue: hsl(231, 69%, 60%);
--soft_red: hsl(0, 94%, 66%);

/*Neutral*/
--grayish_blue: hsl(229, 8%, 60%);
--very_dark_blue: hsl(229, 31%, 21%);
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  min-width: 375px;
  max-width: 1440px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
